CS\ 15\ -\ Data\ Structures/Comp11Review 
CS\ 15\ -\ Data\ Structures/Labs
CS\ 40\ -\ Machine\ Structure\ and\ Assembly/Labs 
CS\ 40\ -\ Machine\ Structure\ and\ Assembly/Homeworks/hw_names.txt 
CS\ 105\ -\ Programming\ Languages/Recitation
CS\ 105\ -\ Programming\ Languages/Homework
CS\ 116\ -\ Intro\ to\ Security/Lab\ \#5/rockyou.txt
CS\ 118\ -\ Cloud\ Computing/Readings 
CS\ 119\ -\ Big\ Data/Final\ Project 
CS\ 119\ -\ Big\ Data/Reviews
CS\ 119\ -\ Big\ Data/Quizzes/quiz4/logfiles.log 

